body{
    background-color: #2148C1;
}
.titulo{
    margin-top: 134px;
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}